.preloader {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'roboto';
    box-sizing: border-box;
    opacity: 1;
    position: absolute;
    z-index: 1000000;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader img {
    height: 50vh;
    width: 50vh;
}

#p-loading {
    color: white;
    margin-top: 10vh;
    font-size: 1.25em;
}

#p-loading-note {
    color: white;
    font-size: 1.25em;
}

#p-media-control {
    color: white;
    font-size: 1.25em;
    opacity: 0;
    display: none;
}

#glams-preloader {
    opacity: 0;
    display: none;
    top: 50vh;
    position: absolute;
    width: 25vw;
    height: auto;
    transform: translateY(-50%);
}

#glams-name {
    position: absolute;
    color: white;
    font-size: 1.2em;
    /* opacity: 0;
    display: none; */
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    cursor: pointer;
    z-index: 10000;
}

#glams-description {
    position: absolute;
    color: white;
    font-size: 1em;
    opacity: 0;
    display: none;
    margin: 0;
    width: 50vw;
    top: 110vh;
    line-height: 40px;
}

.music-rights {
    height: 3vh;
    width: 3vh;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2000000;
}

#allow-music {
    background-image: url(/button/yes.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 60vh;
    left: 47vw;
}

#deny-music {
    background-image: url(/button/no.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 60vh;
    right: 47vw;
}

#understand {
    height: 6vh;
    width: 6vh;
    position: absolute;
    cursor: pointer;
    z-index: 2000000;
    background-image: url(/button/understand.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20vh;
    left: calc(50vw - 1.5vh);
    opacity: 0;
    display: none;
}

p {
    cursor: default;
}

.glams-container {
    height: 450vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: initial;
}

#glams-cover {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 350vh;
    opacity: 0;
}

#glams-dinner {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 0vh;
}

::-webkit-scrollbar {
    display: none;
}

.cards-container {
    height: 50vw;
    width: 50vw;
    position: absolute;
    top: 170vh;
    background: black;
    display: block;
    
}

.cards {
    position: absolute;
    height: 14vw !important; 
    width: 14vw !important;
}

.cards:nth-child(3n+1) {
    left: 0;
}

.cards:nth-child(3n+2) {
    left: 18vw;
}

.cards:nth-child(3n) {
    right: 0;
}

.cards:nth-child(1),
.cards:nth-child(2),
.cards:nth-child(3) {
    top: 0;
}

.cards:nth-child(4),
.cards:nth-child(5),
.cards:nth-child(6) {
    top: 18vw;
}

.cards:nth-child(7),
.cards:nth-child(8),
.cards:nth-child(9) {
    bottom: 0;
}