html, body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'roboto'!important;
}

.circle {
	position: absolute;
    border: solid 1px #ccc;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: transparent;
    backdrop-filter: grayscale(1) sepia(100%) blur(1.5px) brightness(1.4);
}

.circle-theater {
    z-index: 1000000;
}

.act-controls {
    position: absolute;
    color: white;
    font-size: 1em;
    z-index: 1000;
    cursor: pointer;
    margin: .5vh 0 0 0;
}

#next-act {
    top: 4vh;
    right: 40vw;
}

#prev-act {
    top: 4vh;
    left: 40vw;
    display: none;
    opacity: 0;
}

#act-info {
    color: white;
    position: absolute;
    bottom: 4.5vh;
    z-index: 1000;
    cursor: default;
    left: calc(42vw + 5vh);
    margin: 0;
    /* animation: neon 0.08s ease-in-out infinite alternate; */
}

.act-noti {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: black;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#act-noti-text {
    color: white;
    font-size: 1.25em;
}

.act-container {
    height: 90vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: black;
}

.act2-17 {
    display: block;
}

.unload-act-img {
    opacity: 0 !important;
}

.act-container-img {
    position: absolute;
    height: 90vh;
    width: 60vw;
    left: 0;
    top: 0;
}

.act-container-text {
    position: absolute;
    height: 90vh;
    width: 40vw;
    right: 0;
    top: 0;
}

.act-text {
    height: 60vh;
    width: 65%;
    color: white;
    font-size: 1em;
    line-height: 40px;
    margin: 0;
    position: absolute;
    top: 10vh;
    left: 5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
}

#scroll-to-read {
    position: absolute;
    color: white;
    font-style: italic;
    z-index: 1000;
    bottom: 15vh;
    right: 35vw;
    margin: 0;
    animation: neon 0.08s ease-in-out infinite alternate;
    transform: translateX(100%);
    opacity: 0;
    cursor: default;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }

.act-img {
    position: absolute;
    margin: 0;
    height: 60vh;
    width: auto;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

.img-next {
    height: 3vh;
    width: 3vh;
    position: absolute;
    cursor: pointer;
    background-image: url(/button/next-white.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 73vh;
    right: 45%;
    z-index: 1000;
}

.img-next:hover {
    filter: invert(100%);
}

.img-prev {
    height: 3vh;
    width: 3vh;
    position: absolute;
    cursor: pointer;
    background-image: url(/button/prev-white.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 73vh;
    left: 45%;
    z-index: 1000;
    opacity: 1;
    display: none;
}

.img-prev:hover {
    filter: invert(100%);
}

#playing {
    bottom: 4vh;
    left: 7vw !important;
    color: white;
    position: absolute;
    z-index: 1000;
    cursor: default;
    margin: 0;
}

#play-now {
    bottom: 4vh;
    left: 15vw !important;
    color: white;
    font-style: italic;
    position: absolute;
    z-index: 1000;
    cursor: default;
    margin: 0;
}

#volume-on {
    background-image: url(/button/volume-on.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 4vh;
    right: 3vw;
    display: none;
    opacity: 0;
}

#volume-off {
    background-image: url(/button/volume-off.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 4vh;
    right: 3vw;
    display: none;
    opacity: 0;
}

.scrollbar-track {
    display: none !important;
}

.scrollbar-thumb {
    display: none !important;
}

.video-container {
    z-index: 10000000;
    background: rgba(0, 0, 0, .9);
    height: 110vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    transform: translateY(-100vh);
    display: none;
}

.video-container iframe {
    height: 54vh !important;
    width: 96vh !important;
}

#close-vid {
    height: 5vh;
    width: 5vh;
    position: absolute;
    bottom: 5vw;
    left: calc(50% - 1.5vh);
    background-image: url(/button/close-vid.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.youtube {
    bottom: 4vh;
    left: 42vw;
    position: absolute;
    height: 3vh;
    width: auto;
    cursor: pointer;
    z-index: 1000;
}

.youtube:hover {
    filter: invert(100%);
}

.rotate-on-hover:hover {
    filter: invert(100%);
}